#about-wrapper {
  @include mq(small_laptop) {
    max-width: 950px;
    @include margin_lr();
    @include flex(space-between);
  }
  @include mq(large_laptop) {
    max-width: 1250px;
  }
  @include mq(small_monitor) {
    max-width: 1320px;
  }
  @include mq(monitor) {
    max-width: 1630px;
  }
}

#about-top {
  @include mq(small_laptop) {
    flex-grow: 1;
  }
  @include mq(large_laptop) {
    padding-left: 70px;
  }
  @include mq(monitor) {
    padding-left: 140px;
  }
  #page-title.page-title-center {
    @include mq(small_laptop) {
      text-align: left;
    }
  }
  .about-img-wrapper {
    @include mq(small_laptop) {
      display: none;
    }
  }
}

#about-bottom {
  display: none;
  @include mq(small_laptop) {
    flex-basis: 350px;
    flex-shrink: 0;
    margin-left: 60px;
    display: block;
    margin-top: 20px;
  }
  @include mq(large_laptop) {
    flex-basis: 470px;
  }
  @include mq(monitor) {
    margin-left: 120px;
    flex-basis: 651px;
  }
}

.about-img-wrapper {
  margin-bottom: 30px;
  overflow: hidden;
  max-width: 651px;
  @include margin_lr();
  img.about-img {
    @include image();
    width: 100%;
  }
}

#about-slider-wrapper {
  padding-top: 20px;
  @include mq(small_laptop) {
    max-width: 950px;
    margin-bottom: 70px;
    @include margin_lr();
  }
  @include mq(large_laptop) {
    max-width: 1120px;
  }
  @include mq(small_monitor) {
    padding-top: 80px;
    max-width: 1320px;
  }
  @include mq(monitor) {
    padding-left: 140px;
    max-width: 1630px;
  }
}

span#about-slider-title {
  display: block;
  @include flex(null, center);
  @include type(
    (
      size: 18px,
      height: 18px,
      family: $secondaryfont,
      color: $blue,
      weight: 600,
      transform: uppercase,
    )
  );
  @include mq(small_monitor) {
    padding-bottom: 37px;
  }
  &::before {
    flex-shrink: 0;
    background: $red;
    margin-right: 20px;
    @include box(4px, 45px);
    @include contentdisplay();
  }
}

#about-slider-inner {
  margin-top: 40px;
  @media screen and (min-width: 850px) {
    @include flex(space-between);
  }
}

#about-slider {
  @media screen and (min-width: 850px) {
    width: calc(100% - 143px);
  }
}

.about-slide {
  .about-slide-inner {
    height: 115px;
    @include flex(center, center);
    @media screen and (min-width: 850px) {
      @include flex(flex-start, center);
    }
    img {
      @include image();
      max-height: 115px;
    }
  }
}

#arrow-buttons {
  border: 1px solid $brown;
  border-radius: 50px;
  background: $offwhite;
  padding: 0 20px;
  margin-top: 40px;
  @include flex(space-between, center);
  @include box(93px, 45px);
  @include margin_lr();
  .arrow-button {
    cursor: pointer;
    svg {
      @include image();
      @include box(10px, auto);
      .cls-1 {
        fill: $brown;
        transition: all 200ms ease-in-out;
      }
    }
    &:hover {
      svg {
        .cls-1 {
          fill: $red;
        }
      }
    }
  }
  #arrow-button-right {
    svg {
      transform: rotate(180deg);
    }
  }
}
