////////////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////////////

$primaryfont: "Inter", sans-serif; // 400, 500
$secondaryfont: paralucent, sans-serif; // 600, 700
$thirdfont: ivypresto-display, serif; // 500
