body.sticky {
  #section-one {
    margin-top: 86px;
    @include mq(small_laptop) {
      margin-top: 0;
    }
  }
}

#section-one {
  position: relative;
  @include mq(small_tablet) {
    margin-top: 84px;
  }
  @include mq(small_laptop) {
    margin-top: 0px;
  }
  &::before {
    @include mq(small_laptop) {
      background: linear-gradient(
        to bottom,
        $bluetwo 12%,
        rgba(255, 255, 255, 0) 100%
      );
      @include contentdisplay();
      @include box(100%, 120px);
      @include abs(0, null, null, 0, 1);
    }
  }
}

#sec-one-inner {
  position: relative;
  z-index: 1;
  padding: 50px 20px;
  @include mq(small_tablet) {
    padding: 100px 50px 118px;
  }
  @include mq(small_laptop) {
    padding: 207px 50px 250px;
  }
  @include mq(large_laptop) {
    padding: 207px 50px 200px;
  }
  @include mq(small_monitor) {
    padding: 207px 50px 400px;
  }
}

#sec-one-video {
  @include flex(center, center);
  @include box(130px, 84px);
  @include margin_lr();
  @include mq(small_tablet) {
    @include box(162px, 106px);
  }
  @include mq(large_laptop) {
    @include box(205px, 133px);
  }
  img#video-thumb {
    object-fit: cover;
    @include image();
    @include abs(0, null, null, 0);
  }
}

#sec-one-title {
  display: block;
  margin-top: 25px;
  @include margin_lr();
  @include type(
    (
      size: 39px,
      height: 39px,
      spacing: 0.97px,
      family: $secondaryfont,
      color: $white,
      weight: 700,
      align: center,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    @include quick_type(62px, 62px, 1.55px);
  }
  @include mq(small_laptop) {
    @include quick_type(77px, 77px, 1.93px);
  }
  @include mq(large_laptop) {
    @include quick_type(89px, 89px, 1.93px);
  }
  @include mq(small_monitor) {
    margin-top: 41px;
    @include quick_type(121px, 121px, 3.02px);
  }
}

img#hero {
  object-fit: cover;
  @include image();
  @include box(100%, 100%);
  @include abs(0, null, null, 0);
}

ul#sec-one-selling-points {
  list-style: none;
  max-width: 200px;
  margin-top: 15px;
  @include margin_lr();
  @include mq(small_tablet) {
    max-width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  @include mq(small_laptop) {
    margin-top: 25px;
  }
  @include mq(small_monitor) {
    margin-top: 45px;
  }
  li {
    @include type(
      (
        size: 14px,
        height: 24px,
        spacing: 1.19px,
        family: $secondaryfont,
        color: $white,
        weight: 700,
        transform: uppercase,
      )
    );
    @include mq(small_tablet) {
      display: inline-block;
    }
    @include mq(small_laptop) {
      font-size: 16px;
      letter-spacing: 1.36px;
    }
    @include mq(large_laptop) {
      font-size: 19px;
      letter-spacing: 1.61px;
    }
    &::before {
      color: $red;
      @include contentdisplay(inline-block, "•");
      @include mq(small_laptop) {
        margin: 0 5px;
      }
    }
    &:first-of-type {
      &::before {
        display: none;
      }
    }
  }
}

.sec-one-button {
  padding: 20px 35px;
  font-size: 13px;
  margin-top: 25px;
  letter-spacing: 1.1px;
  @include mq(large_laptop) {
    margin-top: 40px;
    font-size: 16px;
    padding: 27px 35px;
  }
  @include mq(small_monitor) {
    font-size: 19px;
    padding: 29px 35px;
  }
}
