#section-five {
  background: url(images/bkg-pattern.jpg) repeat;
  position: relative;
}

img#sec-five-bg-img {
  display: none;
  @include mq(small_tablet) {
    display: block;
    object-fit: cover;
    @include box(100%, 100%);
    @include abs(0, null, null, 0);
  }
}

#sec-five-inner {
  max-width: 510px;
  position: relative;
  z-index: 1;
  @include margin_lr();
  @include mq(small_tablet) {
    max-width: 100%;
    position: relative;
    z-index: 1;
  }
}

#sec-five-top {
  padding: 55px 30px 32px;
  @include mq(small_tablet) {
    padding: 103px 43px 71px;
  }
  @include mq(small_laptop) {
    padding: 103px 93px 57px;
    @include flex(space-between, flex-end);
  }
  @include mq(large_laptop) {
    padding: 103px 55px 42px;
  }
  @include mq(small_monitor) {
    padding: 187px 89px 38px 154px;
  }
}

#sec-five-title {
  max-width: 280px;
  display: block;
  @include type(
    (
      size: 42px,
      height: 44px,
      spacing: 2.1px,
      family: $secondaryfont,
      color: $white,
      weight: 700,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    max-width: 475px;
    @include quick_type(68px, 68px, 3.4px);
  }
  @include mq(large_laptop) {
    margin-bottom: 21px;
  }
  @include mq(small_monitor) {
    max-width: 735px;
    margin-bottom: 61px;
    @include quick_type(105px, 105px, 5.25px);
  }
}

#arrow-buttons.sec-five-arrow-buttons {
  margin-top: 17px;
  @include margin_lr(0);
  @include mq(small_tablet) {
    margin-top: 25px;
  }
}

#sec-five-slider {
  padding: 0 15px;
  @include mq(small_tablet) {
    padding: 0 0 0 43px;
    overflow: hidden;
  }
  @include mq(small_laptop) {
    padding: 0 93px;
  }
  @include mq(large_laptop) {
    padding: 0 55px;
  }
  @include mq(small_monitor) {
    padding: 0 89px;
  }
  .slick-track {
    @include mq(small_tablet) {
      @include flex();
    }
  }
  .slick-slide {
    margin: 0 10px;
    background: $white;
    border-left: 4px solid $red;
    @include mq(small_tablet) {
      margin: 0 24px;
      height: inherit;
      border-width: 8px;
    }
    @include mq(small_laptop) {
      margin: 0 20px;
    }
    @include mq(large_laptop) {
      margin: 0 13px;
    }
    @include mq(small_monitor) {
      margin: 0 16px;
    }
  }
  .slick-list {
    margin: 0 -10px;
    @include mq(small_tablet) {
      margin: 0 -24px;
      width: 1180px;
    }
    @include mq(small_laptop) {
      margin: 0 -20px;
      width: initial;
    }
    @include mq(large_laptop) {
      margin: 0 -13px;
    }
    @include mq(small_monitor) {
      margin: 0 -16px;
    }
  }
}

.sec-five-slide {
  padding: 34px 25px;
  @include mq(small_tablet) {
    border-width: 8px;
    padding: 68px 56px;
  }
  @include mq(small_laptop) {
    padding: 61px 45px;
  }
  @include mq(large_laptop) {
    padding: 69px 45px;
  }
  @include mq(small_monitor) {
    padding: 95px 65px;
  }
  @include mq(monitor) {
    padding: 95px 80px;
  }
  .sec-five-inner {
    img.stars {
      @include image();
      width: 150px;
      margin-bottom: 20px;
      @include mq(small_monitor) {
        width: 163px;
        margin-bottom: 27px;
      }
    }
    span {
      display: block;
      &.sec-five-title {
        @include type(
          (
            size: 28px,
            height: 31px,
            family: $thirdfont,
            color: $red,
          )
        );
        @include mq(small_laptop) {
          max-width: 292px;
          @include quick_type(24px, 33px, null);
        }
        @include mq(large_laptop) {
          @include quick_type(26px, 33px, null);
        }
        @include mq(small_monitor) {
          max-width: 100%;
          @include quick_type(32px, 39px, null);
        }
      }
      &.sec-five-descrip {
        margin-top: 18px;
        @include type(
          (
            size: 16px,
            height: 26px,
            family: $primaryfont,
            color: $grey,
            weight: 500,
          )
        );
        @include mq(small_tablet) {
          margin-top: 14px;
        }
        @include mq(small_laptop) {
          @include quick_type(14px, 26px, null);
        }
        @include mq(large_laptop) {
          @include quick_type(16px, 28px, null);
        }
        @include mq(small_monitor) {
          @include quick_type(18px, 32px, null);
        }
      }
      &.sec-five-name {
        margin-top: 18px;
        @include type(
          (
            size: 13px,
            height: 13px,
            spacing: 1.3px,
            family: $secondaryfont,
            color: $brown,
            weight: 700,
            transform: uppercase,
          )
        );
        @include mq(small_tablet) {
          font-size: 16px;
        }
        @include mq(small_laptop) {
          margin-top: 25px;
          font-size: 15px;
        }
        @include mq(large_laptop) {
          margin-top: 30px;
          font-size: 16px;
        }
        @include mq(small_monitor) {
          font-size: 18px;
          margin-top: 15px;
        }
      }
    }
  }
}

#sec-five-bg {
  overflow: hidden;
  @include box(100%, 575px);
  @include abs(0, null, null, 0);
  @include mq(small_monitor) {
    height: 920px;
  }
}
