#section-seven {
  position: relative;
  background: $offwhite;
  &::after {
    background: $white;
    @include box(100%, 87px);
    @include abs(null, null, 0, 0);
    @include contentdisplay();
    @include mq(small_tablet) {
      height: 245px;
    }
    @include mq(small_laptop) {
      height: 31px;
    }
    @include mq(large_laptop) {
      height: 115px;
    }
  }
}

#sec-seven-inner {
  padding: 0 30px;
  position: relative;
  z-index: 1;
  @include mq(small_tablet) {
    padding: 0 45px;
  }
  @include mq(small_laptop) {
    @include flex();
    padding: 0 65px 0 140px;
  }
  @include mq(large_laptop) {
    max-width: 1500px;
    @include margin_lr();
  }
  @include mq(small_monitor) {
    max-width: 1870px;
    padding: 0 65px 0 250px;
  }
}

#sec-seven-content {
  padding-top: 55px;
  @include mq(small_tablet) {
    padding-top: 90px;
  }
  @include mq(small_laptop) {
    padding-top: 98px;
    padding-bottom: 40px;
  }
  @include mq(large_laptop) {
    padding-top: 141px;
  }
  @include mq(small_monitor) {
    padding-top: 171px;
  }
}

#sec-seven-image-wrapper {
  padding-top: 20px;
  @include mq(small_laptop) {
    flex-shrink: 0;
    flex-basis: 445px;
    margin-top: 203px;
    margin-left: 100px;
  }
  @include mq(large_laptop) {
    flex-basis: 536px;
    margin-top: 264px;
  }
  @include mq(monitor) {
    flex-basis: 786px;
    margin-left: 180px;
  }
  img#sec-seven-image {
    @include image();
    @include margin_lr();
  }
}
