#section-six {
  background: url(images/bkg-pattern.jpg) repeat;
  padding: 55px 30px;
  @include mq(small_tablet) {
    padding: 83px 45px 108px;
  }
  @include mq(small_laptop) {
    padding: 106px 127px 133px;
  }
  @include mq(large_laptop) {
    padding: 66px 127px 170px;
  }
  @include mq(small_monitor) {
    padding: 139px 127px 130px;
  }
}

#sec-six-top {
}

span#sec-six-title {
  display: block;
  max-width: 360px;
  @include margin_lr();
  @include type(
    (
      size: 32px,
      height: 38px,
      spacing: 0.8px,
      family: $thirdfont,
      align: center,
      color: $white,
    )
  );
  @include mq(small_tablet) {
    max-width: 460px;
    @include quick_type(42px, 50px, 1.05px);
  }
  @include mq(large_laptop) {
    max-width: 560px;
    @include quick_type(50px, 58px, 1.25px);
  }
  @include mq(small_monitor) {
    max-width: 730px;
    @include quick_type(65px, 75px, 1.63px);
  }
}

a.sec-six-button-two {
  padding: 23px 45px;
  margin-top: 20px;
  @include quick_type(14px, 14px, 1.75px);
  @include mq(small_tablet) {
    margin-top: 25px;
  }
  @include mq(large_laptop) {
    margin-top: 30px;
    padding: 25px 45px;
    @include quick_type(16px, 16px, 2px);
  }
}

#sec-six-content {
  margin-top: 70px;
  max-width: 500px;
  @include margin_lr();
  @include mq(small_tablet) {
    margin-top: 81px;
    max-width: 100%;
    @include flex(space-between);
  }
  @include mq(small_laptop) {
    margin-top: 96px;
  }
  @include mq(large_laptop) {
    margin-top: 149px;
    max-width: 1350px;
    @include margin_lr();
  }
}

.sec-six-col {
  flex-shrink: 0;
  flex-basis: calc(50% - 40px);
  @include mq(large_laptop) {
    flex-basis: calc(50% - 60px);
  }
  .sec-six-sp {
    &:last-of-type {
      @include mq(small_tablet) {
        margin-bottom: 0;
      }
    }
  }
  &:last-of-type {
    .sec-six-sp {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.sec-six-sp {
  margin-bottom: 65px;
  @include mq(small_tablet) {
    margin-bottom: 75px;
  }
  @include mq(small_laptop) {
    @include flex();
    margin-bottom: 95px;
  }
  @include mq(large_laptop) {
    margin-bottom: 118px;
  }
  @include mq(small_monitor) {
    margin-bottom: 85px;
  }

  span.sec-six-sp-number {
    display: inline-block;
    @include mq(small_laptop) {
      margin-right: 35px;
    }
    @include mq(small_monitor) {
      margin-right: 50px;
    }
    @include type(
      (
        size: 28px,
        height: 28px,
        align: center,
        spacing: 1.4px,
        family: $thirdfont,
        color: $white,
      )
    );
    @include mq(large_laptop) {
      @include quick_type(32px, 32px, 1.6px);
    }
    @include mq(small_monitor) {
      @include quick_type(40px, 40px, 2px);
    }
    &::after {
      background: $brown;
      margin-top: 10px;
      @include box(42px, 2px);
      @include contentdisplay();
      @include mq(large_laptop) {
        margin-top: 13px;
      }
      @include mq(small_monitor) {
        @include box(57px, 2px);
      }
    }
  }
  .sec-six-sp-content {
    margin-top: 27px;
    @include mq(small_laptop) {
      margin-top: 0px;
    }
    // @include mq(large_laptop) {
    //   margin-top: -18px;
    // }
    span {
      display: block;
      &.sec-six-sp-title {
        @include type(
          (
            size: 20px,
            height: 23px,
            family: $secondaryfont,
            color: $red,
            weight: 600,
          )
        );
        @include mq(small_laptop) {
          @include quick_type(23px, 27px, null);
        }
        @include mq(small_monitor) {
          @include quick_type(26px, 33px, null);
        }
      }
      &.sec-six-sp-descrip {
        margin-top: 15px;
        @include type(
          (
            size: 16px,
            height: 26px,
            family: $primaryfont,
            color: $white,
            weight: 500,
          )
        );
        @include mq(small_laptop) {
          @include quick_type(14px, 26px, null);
        }
        @include mq(large_laptop) {
          @include quick_type(17px, 32px, null);
        }
        @include mq(small_monitor) {
          @include quick_type(18px, 33px, null);
        }
      }
    }
    a.sec-six-sp-button-one {
      margin-top: 23px;
      padding: 15px 20px;
      @include quick_type(14px, 14px, 1.75px);
      @include mq(small_monitor) {
        padding: 21px 25px;
      }
    }
  }
}
