body {
  font-family: $primaryfont;
}

body.sticky {
  #internal-main {
    margin-top: 86px;
    @include mq(small_laptop) {
      margin-top: 0;
    }
  }
}

#mt-scroll-wrapper {
  display: none;
  @include mq(small_laptop) {
    display: block;
    border-right: 1px solid $brown;
    @include box(60px, 100%);
    @include abs(0, null, null, 0);
  }
  @include mq(small_monitor) {
    @include box(90px, 100%);
  }
}

#mt-scroll {
  position: sticky;
  margin-top: 53px;
  left: 0;
  width: 100%;
  span {
    display: block;
    text-align: center;
    @include type(
      (
        size: 14px,
        height: 16px,
        family: $primaryfont,
        color: $red,
        weight: 500,
        transform: uppercase,
      )
    );
    @include mq(small_monitor) {
      font-size: 18px;
    }
    &:first-of-type {
      &::after {
        background: $red;
        margin: 8px 0;
        @include box(24px, 1px);
        @include margin_lr();
        @include contentdisplay();
      }
    }
  }
}

#internal-main {
  @include mq(small_tablet) {
    margin-top: 84px;
  }
  @include mq(small_laptop) {
    margin-top: 0;
  }
}

#page-container {
  position: relative;
  &.single-col {
    padding: 55px 30px;
  }
  &.two-col {
    @include mq(small_laptop) {
      @include flex();
      padding: 55px 62px;
    }
    @include mq(large_laptop) {
      padding: 72px 104px 72px 92px;
    }
    @include mq(monitor) {
      max-width: 1920px;
      padding: 95px 104px 72px 92px;
      @include margin_lr();
    }
    #page-content {
      padding: 55px 30px 27px;
      @include mq(small_tablet) {
        padding: 71px 45px 27px;
      }
      @include mq(small_laptop) {
        flex-grow: 1;
        padding: 0px 95px 0px 45px;
      }
      @include mq(small_monitor) {
        padding: 0px 177px 0px 205px;
      }
    }
  }
}

#page-content {
}
