#page-title {
  padding-bottom: 33px;
  @include type(
    (
      size: 40px,
      height: 42px,
      family: $secondaryfont,
      color: $blue,
      weight: 700,
    )
  );
  @include mq(small_tablet) {
    padding-bottom: 19px;
  }
  @include mq(small_laptop) {
    padding-bottom: 29px;
    @include quick_type(50px, 51px, null);
  }
  @include mq(small_monitor) {
    padding-bottom: 39px;
    @include quick_type(72px, 75px, null);
  }
  &.page-title-center {
    text-align: center;
  }
  &.page-title-large {
    @include mq(large_laptop) {
      @include quick_type(60px, 63px, null);
    }
    @include mq(small_monitor) {
      @include quick_type(72px, 75px, null);
    }
  }
}

.content {
  @include type(
    (
      size: 16px,
      height: 28px,
      color: $black,
    )
  );
  @include mq(large_laptop) {
    @include quick_type(18px, 32px, null);
  }
  h2 {
    padding-bottom: 12px;
    @include type(
      (
        size: 24px,
        height: 33px,
        family: $thirdfont,
        color: $browndark,
      )
    );
    @include mq(small_monitor) {
      @include quick_type(28px, 40px, null);
    }
  }
  h3 {
    padding-bottom: 13px;
    @include type(
      (
        size: 22px,
        height: 25px,
        family: $secondaryfont,
        weight: 600,
      )
    );
  }
  a,
  .go_back {
    color: $red;
    text-decoration: underline;
    transition: all 200ms ease-in-out;
    &:hover {
      color: $brown;
    }
  }
  p,
  ul,
  ol {
    margin-bottom: 27px;
  }
  ul,
  ol {
    li {
      margin-bottom: 13px;
    }
  }
  ul {
    margin-left: 18px;
    li {
      padding-left: 5px;
      &::marker {
        color: $red;
        font-size: 21px;
      }
    }
  }
  ol {
    list-style: none;
    counter-reset: item;
    > li {
      counter-increment: item;
      position: relative;
      padding-left: 30px;
    }
    > li:before {
      content: counter(item) ".";
      font-weight: 800;
      color: $red;
      @include abs(0, null, null, 0);
    }
  }
}

.wp-block-image {
  .alignleft {
    @media screen and (min-width: 1100px) {
      img {
        float: left;
        margin-right: 39px;
      }
    }
  }
  .aligncenter {
    img {
      @include margin_lr();
    }
  }
  .alignright {
    @media screen and (min-width: 1100px) {
      img {
        float: right;
        margin-left: 39px;
      }
    }
  }
  img {
    margin-bottom: 30px;
    @include image();
    @include margin_lr();
  }
}

.alignleft,
img.alignleft {
  display: block;
  float: left;
  margin-right: 24px;
  margin-top: 4px;
  @include image();
  @include mq(xlarge_mobile) {
    margin: 20px auto 30px;
    float: none;
  }
}
.alignright,
img.alignright {
  display: block;
  float: right;
  margin-left: 24px;
  margin-top: 4px;
  @include image();
  @include mq(xlarge_mobile) {
    margin: 20px auto 30px;
    float: none;
  }
}
.aligncenter,
.aligncenter img,
img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @include image();
}
img.alignleft,
img.alignright,
img.aligncenter {
  margin-bottom: 12px;
  @include image();
  @include mq(xlarge_mobile) {
    margin: 20px auto 30px;
    float: none;
  }
}
