body {
  &.sticky {
    #header-right {
      @include fixed(0, null, null, 0);
      @include mq(small_tablet) {
        position: static;
      }
    }
    #header-inner {
      @include mq(large_laptop) {
        padding: 0 40px 0 27px;
      }
    }
  }
}

body:not(.page-template-template-home) {
  header {
    @include mq(small_laptop) {
      position: relative;
      background: $blue;
    }
  }
}

header {
  background: $white;
  position: relative;
  z-index: 5;
  @include mq(small_tablet) {
    width: 100%;
    @include fixed(0, null, null, 0);
  }
  @include mq(small_laptop) {
    background: transparent;
    //background: black;
    padding-bottom: 10px;
    position: absolute;
  }
  &::after {
    @include mq(small_tablet) {
      background: #d1d1d1;
      @include abs(null, 0, 0, null);
      @include box(100%, 1px);
      @include contentdisplay();
    }
    @include mq(small_laptop) {
      display: none;
    }
  }
}

#header-inner {
  @include mq(small_tablet) {
    @include flex(space-between);
  }
  @include mq(small_laptop) {
    padding: 0 28px;
  }
  @include mq(large_laptop) {
    padding: 0 40px 0 27px;
  }
  @include mq(small_monitor) {
    max-width: 1920px;
    @include margin_lr();
  }
}

#header-left {
  width: 100%;
  padding: 13px;
  @include mq(small_tablet) {
    padding: 13px 38px;
    width: auto;
    flex-shrink: 0;
  }
  @include mq(small_laptop) {
    margin-top: 8px;
    padding: 13px 38px 0 0;
  }
  a#logo {
    display: block;
    max-width: 250px;
    @include margin_lr();
    @include mq(small_tablet) {
      @include margin_lr(0);
    }
    @include mq(large_laptop) {
      max-width: 332px;
    }
    @include mq(small_monitor) {
      max-width: 365px;
    }
    img {
      @include image();
      width: 100%;
    }
  }
}

#header-right {
  width: 100%;
  position: relative;
  @include mq(small_tablet) {
    flex-grow: 1;
    position: static;
  }
}

#header-right-contact {
  background: $offwhite;
  padding: 25px 38px;
  width: calc(100% - 91px);
  position: relative;
  z-index: 2;
  @include mq(small_tablet) {
    background: transparent;
    padding: 25px 30px 0 30px;
  }
  @include mq(small_laptop) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 20px 0 0;
  }
}

#header-free-consult {
  position: relative;
  z-index: 2;
  @include mq(small_tablet) {
    @include flex(null, flex-end, column);
  }
  @include mq(small_laptop) {
    flex-direction: row;
    justify-content: flex-end;
  }
  span,
  a {
    @include type(
      (
        spacing: 1.3px,
        family: $secondaryfont,
        color: $red,
        weight: 600,
        transform: uppercase,
      )
    );
  }
  span {
    font-size: 13px;
    display: block;
    margin-bottom: 3px;
    @include mq(small_tablet) {
      position: relative;
      left: -3px;
    }
    @include mq(large_laptop) {
      @include quick_type(16px, null, 1.6px);
    }
    @include mq(small_monitor) {
      @include quick_type(19px, null, 1.9px);
    }
  }
  a {
    font-size: 20px;
    display: inline-block;
    @include mq(small_laptop) {
      color: $white;
      margin-left: 9px;
      margin-right: 10px;
    }
    @include mq(large_laptop) {
      font-size: 25px;
      margin-left: 21px;
      margin-right: 22px;
    }
    @include mq(small_monitor) {
      font-size: 29px;
    }
  }
}

body:not(.page-template-template-home) {
  a.spanish-button {
    background: $blue;
    &:hover {
      background: $brownlight;
      border-color: $brownlight;
    }
  }
}

a.spanish-button {
  display: none;
  @include mq(small_laptop) {
    display: block;
    font-size: 12px;
    padding: 10px 14px;
    background: #040f2d;
    color: $brownlight;
    &:hover {
      background: $brownlight;
      border-color: $brownlight;
    }
  }
  @include mq(large_laptop) {
    padding: 14px 24px;
  }
  @include mq(small_monitor) {
    font-size: 15px;
    padding: 16px 25px;
  }
}

#menu-wrapper {
  // background: red;
  background: $bluetwo;
  @include box(91px, 100%);
  @include abs(0, 0, null, null, 2);
  @include flex(center, center, column);
  @include mq(small_laptop) {
    display: none;
  }
  span {
    display: block;
    background: $white;
    margin-bottom: 9px;
    @include box(32px, 2px);
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
