.button {
  max-width: max-content;
  background: $black;
  border-radius: 50px;
  border: 2px solid $brown;
  @include type(
    (
      spacing: 1.8px,
      family: $secondaryfont,
      color: $brownlight,
      weight: 700,
      align: center,
      transform: uppercase,
    )
  );
  &:hover {
    background: $brown;
    color: $white;
  }
}
