body {
  &.sticky {
    #header-right {
      @include fixed(0, null, null, 0);
      @include mq(small_tablet) {
        position: static;
      }
    }
  }
}

header {
  background: $white;
  @include mq(small_tablet) {
    width: 100%;
    @include fixed(0, null, null, 0);
  }
}

#header-inner {
  @include mq(small_tablet) {
    @include flex(space-between);
  }
}

#header-left {
  width: 100%;
  padding: 13px;
  @include mq(small_tablet) {
    padding: 13px 38px;
    width: auto;
    flex-shrink: 0;
  }
  a#logo {
    display: block;
    max-width: 250px;
    @include margin_lr();
    @include mq(small_tablet) {
      @include margin_lr(0);
    }
    img {
      @include image();
      width: 100%;
    }
  }
}

#header-right {
  width: 100%;
  position: relative;
  @include mq(small_tablet) {
    flex-grow: 1;
    position: static;
  }
}

#header-right-contact {
  background: $offwhite;
  padding: 25px 38px;
  width: calc(100% - 91px);
  position: relative;
  z-index: 2;
  @include mq(small_tablet) {
    background: transparent;
    padding: 25px 30px 0 30px;
  }
}

#header-free-consult {
  position: relative;
  z-index: 2;
  @include mq(small_tablet) {
    @include flex(null, flex-end, column);
  }
  span,
  a {
    @include type(
      (
        spacing: 1.3px,
        family: $secondaryfont,
        color: $red,
        weight: 600,
        transform: uppercase,
      )
    );
  }
  span {
    font-size: 13px;
    display: block;
    margin-bottom: 3px;
    @include mq(small_tablet) {
      position: relative;
      left: -3px;
    }
  }
  a {
    font-size: 20px;
    display: inline-block;
  }
}

a.spanish-button {
  display: none;
}

#menu-wrapper {
  // background: red;
  background: $bluetwo;
  @include box(91px, 100%);
  @include abs(0, 0, null, null, 2);
  @include flex(center, center, column);
  span {
    display: block;
    background: $white;
    margin-bottom: 9px;
    @include box(32px, 2px);
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
