nav {
  background: $bluetwo;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translate(0, -25px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out,
    transform 600ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
  @include box(100%, calc(100vh - 85px));
  @include abs(85px, 0, null, null, 1);
  @include mq(small_tablet) {
    top: 84px;
    overflow-y: visible;
    -webkit-overflow-scrolling: none;
    height: calc(100vh - 84px);
    transform: translate(0, 0px);
    transition: all 200ms ease-in-out;
    background: rgba(0, 0, 0, 0.5);
    @include flex(flex-end);
  }
  @include mq(small_laptop) {
    position: static;
    opacity: 1;
    visibility: visible;
    background: transparent;
    transform: none;
    margin-top: 12px;
    @include box(auto, auto);
  }
  @include mq(large_laptop) {
    margin-top: 20px;
  }
  ul {
    list-style: none;
    li {
      @include type(
        (
          size: 16px,
          height: 19px,
          spacing: 0.4px,
          family: $secondaryfont,
          color: $white,
          weight: 600,
          align: center,
        )
      );
      @include mq(small_monitor) {
        @include quick_type(18px, 22px, null);
      }
      &.current-menu-item {
        > a {
          color: $brown;
          @include mq(small_laptop) {
            color: $brownlight;
          }
        }
      }
      a {
        color: $white;
        cursor: pointer;
        text-decoration: none;
        display: block;
        margin-bottom: 38px;
        transition: all 200ms ease-in-out;
        @include mq(small_laptop) {
          margin-bottom: 0px;
        }
        &:hover {
          @include mq(small_laptop) {
            color: $brownlight;
          }
        }
      }
    }
  }
}

nav {
  ul.menu {
    @include mq(small_laptop) {
      @include flex(flex-end);
    }
    > li {
      @include mq(small_laptop) {
        margin-left: 33px;
      }
      @include mq(large_laptop) {
        margin-left: 40px;
      }
      @include mq(small_monitor) {
        margin-left: 60px;
      }
      &:nth-last-child(-n + 2) {
        > ul.sub-menu {
          left: auto;
          right: -20px;
        }
      }
      &.menu-item-has-children {
        position: relative;
        @include mq(small_laptop) {
          padding-bottom: 20px;
        }
        &:hover {
          > a {
            @include mq(small_laptop) {
              color: $brownlight;
            }
            &::after {
              @include mq(small_laptop) {
                @include tri(down, 4px, 7px, $brownlight);
              }
            }
          }
          > ul.sub-menu {
            @include mq(small_laptop) {
              opacity: 1;
              visibility: visible;
            }
          }
        }
        > a {
          position: relative;
          display: inline-block;
          &::after {
            transition: all 200ms ease-in-out;
            @include abs(7px, -14px, null, null);
            @include contentdisplay();
            @include tri(down, 4px, 7px, $white);
          }
        }
      }
      &.current-menu-ancestor {
        > a {
          color: $brown;
          @include mq(small_laptop) {
            color: $brownlight;
          }
          &::after {
            @include tri(down, 4px, 7px, $brown);
            @include mq(small_laptop) {
              @include tri(down, 4px, 7px, $brownlight);
            }
          }
        }
      }
    }
  }
}

nav {
  ul.sub-menu {
    display: none;
    @include mq(small_laptop) {
      display: block;
      background: $blue;
      width: 200px;
      opacity: 0;
      visibility: hidden;
      padding: 15px 18px 8px;
      transition: all 200ms ease-in-out;
      @include abs(30px, null, null, -18px);
      li {
        text-align: left;
        a {
          margin-bottom: 7px;
        }
      }
    }
  }
}

nav {
  &.open {
    transform: translate(0, 0px);
    opacity: 1;
    visibility: visible;
    .menu-header {
      @include mq(small_tablet) {
        transform: translate(0%, 0);
        transition-delay: 100ms;
      }
    }
  }
}

.menu-header {
  padding: 60px 30px;
  @include mq(small_tablet) {
    background: $bluetwo;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transform: translate(100%, 0);
    transition: transform 600ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
    @include box(340px, calc(100%));
  }
  @include mq(small_laptop) {
    transform: none;
    width: 100%;
    overflow-y: visible;
    padding: 0;
    background: transparent;
  }
}

#nav-bg {
  display: none;
  @include mq(small_tablet) {
    opacity: 0;
    visibility: hidden;
    display: block;
    transition: all 200ms ease-in-out;
    background: rgba(0, 0, 0, 0.5);
    @include box(calc(100vh - 219px), calc(100vh - 84px));
    @include fixed(84px, null, null, 0);
  }
  &.open {
    @include mq(small_tablet) {
      opacity: 1;
      visibility: visible;
      transition-delay: 400ms;
    }
  }
}
