nav {
  background: $bluetwo;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateY(-25px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out,
    transform 300ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
  @include box(100%, calc(100vh - 85px));
  @include abs(85px, null, null, 0, 1);
  ul {
    list-style: none;
    li {
      @include type(
        (
          size: 16px,
          height: 19px,
          spacing: 0.4px,
          family: $secondaryfont,
          color: $white,
          weight: 600,
          align: center,
        )
      );
      &.current-menu-item {
        > a {
          color: $brown;
        }
      }
      a {
        color: $white;
        text-decoration: none;
        display: block;
        margin-bottom: 38px;
        transition: all 200ms ease-in-out;
      }
    }
  }
}

nav {
  ul.menu {
    li {
      &.menu-item-has-children {
        > a {
          position: relative;
          display: inline-block;
          // &.active {
          //   color: $brown;
          //   &::after {
          //     @include tri(down, 4px, 7px, $brown);
          //   }
          // }
          &::after {
            transition: all 200ms ease-in-out;
            @include abs(7px, -14px, null, null);
            @include contentdisplay();
            @include tri(down, 4px, 7px, $white);
          }
        }
      }
      &.current-menu-ancestor {
        > a {
          color: $brown;
          &::after {
            @include tri(down, 4px, 7px, $brown);
          }
        }
      }
    }
  }
}

nav {
  ul.sub-menu {
    display: none;
  }
}

nav {
  &.open {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}

.menu-header {
  padding: 60px 30px;
}
